header{
    background: url(/img/1674811996_top-fon-com-p-foni-dlya-prezentatsii-po-tekhnologii-tekh-83.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-top: 100px;
  }
  .table{
    color: white;
  }
  .pupilsTable tr{
    color: white;
  }